@import '../utils/colors';

.button-template {
  margin: auto;

  background: $primary-color;
  border-radius: 80px;
  border: none;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: rgba(0, 0, 0, 0.87);

  cursor: pointer;

  &:hover {
    background: #ffe302;
  }

  &:disabled {
    cursor: not-allowed;
    background: #b4b4b4;
    color: rgba(255, 255, 255, 0.87);
  }
}
